@tailwind base;
@tailwind components;
@tailwind utilities;

.fill-none {
  fill: none;
}

.flip-y {
  transform: rotateY(180deg);
}

.flip-x {
  transform: rotateX(180deg);
}

input:checked + label .show-when-checked {
  @apply opacity-100;
}

input:checked + .checked-bg-bgp2,
input:checked + label .checked-bg-bgp2 {
  @apply bg-bgp2;
}

.spinner {
  @apply inline-flex items-center w-6 h-6 animate-spin;
}
